{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Doctor Dashboard · MediCare{% endblock %}


{% block extra_styles %}
<style>
  .nav-tab { 
    text-decoration: none;
    }
</style>
{% endblock %}
{% block nav_tabs %}
  <a href="?tab=queue"
     class="nav-tab {% if active_tab == 'queue' %}active{% endif %}">
     Today's Queue {% if active_tab == 'queue' %}({{ appointments|length }}){% endif %}
  </a>

  <a href="?tab=completed"
     class="nav-tab {% if active_tab == 'completed' %}active{% endif %}">
     Completed Today {% if active_tab == 'completed' %}({{ appointments|length }}){% endif %}
  </a>

  <a href="?tab=all-completed"
     class="nav-tab {% if active_tab == 'all-completed' %}active{% endif %}">
     All Completed {% if active_tab == 'all-completed' %}({{ appointments|length }}){% endif %}
  </a>
{% endblock %}

{% block content %}

  <!-- ── Page Header ── -->
  <div class="pg-header">
    <div>
      <h1>Welcome, <em>Dr. {{ user.get_full_name }}</em> 👨‍⚕️</h1>
      <p>
        {{ user.doctor_profile.specialization }} &nbsp;·&nbsp;
        {% now "l, d M Y" %} &nbsp;·&nbsp;
        Session: {{ user.doctor_profile.session_duration }} min
      </p>
    </div>
    <div>
              <!-- 🔎 Search Form -->
        <form method="GET" class="search-form" style="margin-bottom: 20px;">
          <!-- keep active tab -->
          <input type="hidden" name="tab" value="{{ active_tab }}">
          
          <input type="text"
          name="search"
          placeholder="Search patient..."
          value="{{ request.GET.search }}"
          class="search-input">
          
          <button type="submit" class="search-btn">
            Search
          </button>
        </form>
    </div>
  </div>

  <!-- ── Appointments Section ── -->
  <section >

       <div class="sec-head">
         {{ section_title }}
         <span>
           {{ appointments|length }}
           session{% if appointments|length != 1 %}s{% endif %}
          </span>
        </div>
        
    <!-- Appointments List -->
    {% if appointments %}
      {% for appt in appointments %}
        {% include "dashboard/appt_card_doctor.html" with appt=appt %}
      {% endfor %}
    {% else %}
      <div class="empty-state">
        <svg viewBox="0 0 24 24">
          <path d="M13 3a9 9 0 0 0-9 9H1l3.89 3.89.07.14L9 12H6
                   c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7
                   c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42
                   A8.954 8.954 0 0 0 13 21a9 9 0 0 0 0-18z"/>
        </svg>
        <p>No appointments found.</p>
      </div>
    {% endif %}

  </section>

{% endblock %}